<div class="container mt-5 text-light bg-black">
  

<h1 align="center">Get In Touch</h1>


<form action="/contact" method="POST">
  <div class="mb-3">
    <label for="name" class=" fs-4">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label fs-4">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required> 
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label fs-4">Phone</label>
    <input type="number" class="form-control" id="phone" name="phone" required>
  </div>

  <div class="mb-3">
    <label for="msg" class="form-label fs-4">Message</label>
    <input type="text" class="form-control" id="msg" name="msg" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>